.pokemonStats {
  padding-bottom: 5px;

  &__header {
    font-weight: 500;
  }
}

.pokemonStats__stat {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 2px;

  &__name {
    font-size: 12px;
  }

  &__bar {
    width: 90px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    background-color: rgb(66, 178, 216);

    &__inner {
      border-radius: 10px;
      height: 12px;
    }

    &__value {
      color: white;
      text-shadow: rgb(0, 43, 51) 1px 0 3px;
      font-size: 12px;
      position: absolute;
      right: 0;
      top: -3px;
    }
  }
}
