.pokemonStats {
  padding-bottom: 5px;

  &__header {
    font-weight: 500;
  }
}

.pokemonStats__stat {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 2px;

  &__name {
    font-size: 12px;
  }

  &__bar {
    width: 90px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid black;

    &__inner {
      border-radius: 10px;
    }

    &__value {
      font-size: 12px;
    }
  }
}
