@import "../../variables.scss";

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: $primary-background;
  height: 40vh;
  border-radius: 0 0 35px 35px;

  h1 {
    padding: 20px;
  }
  
}